{% extends 'base_simple.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body p-4 p-sm-5">

            <div class="row flex-between-center mb-2">
                <div class="col-auto">
                    <h5>Change your Password</h5>
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(passwordForm) }}
            {{ form_row(passwordForm.plainPassword) }}
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Change password</button>
            </div>
            {{ form_end(passwordForm) }}
            {% else %}
                <div class="text-muted">Please log out and login again to be able to change your password.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}



